**/[Ll]ibrary/
**/[Ll]ogs/
**/[Ll]og/
**/[Tt]emp/
**/[Bb]uildApk/
**/[Uu]serSettings/
**/[Dd]ebug/
**/.idea/
**/[Ii]gnorePlugins/
**/[Ii]gnorePlugins.meta
**/QHierarchy/
**/QHierarchy.meta

/Packages/

*.sln

*.cache
*.csproj
*.user
*.sln
*.log

